:where(.astro-AZA7RBFB) {
	background-color: #ffebcd;
	font-family:
		'Fredoka' 'Segoe UI',
		Tahoma,
		Geneva,
		Verdana,
		sans-serif;
	color: #000;
}
:where(.astro-AZA7RBFB) {
	background-color: #ffebcd;
	font-family:
		'Fredoka' 'Segoe UI',
		Tahoma,
		Geneva,
		Verdana,
		sans-serif;
}
main:where(.astro-AZA7RBFB) {
	margin: auto;
	padding: 1.5rem;
	max-width: 60ch;
}
h1:where(.astro-AZA7RBFB) {
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
}
.text-gradient:where(.astro-AZA7RBFB) {
	background-image: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400%;
	background-position: 0%;
}
.instructions:where(.astro-AZA7RBFB) {
	line-height: 1.6;
	margin: 1rem 0;
	border: 1px solid rgba(var(--accent), 25%);
	background-color: #fff;
	padding: 1rem;
	border-radius: 0.4rem;
}
.instructions:where(.astro-AZA7RBFB) code:where(.astro-AZA7RBFB) {
	font-size: 0.875em;
	font-weight: 700;
	background: rgba(var(--accent), 12%);
	color: rgb(var(--accent));
	border-radius: 4px;
	padding: 0.3em 0.45em;
}
.instructions:where(.astro-AZA7RBFB) strong:where(.astro-AZA7RBFB) {
	color: rgb(var(--accent));
}
.link-card-grid:where(.astro-AZA7RBFB) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	gap: 1rem;
	padding: 0;
}
