---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Guides from './guides.astro';
import About from './about.astro';
import index from './index.astro'
import github from "./assets/github.jpg"
---

<h1>- My Apps</h1>
<h2><b>Greetings, this is the page where you can download my apps!</b></h2>
<h2><b>TexTey-GitHub</b></h2>
<p>My text editor that I created that runs on electron, and it's my first text editor!</p>
<p><b>Status: Public</b></p>
<p><b>Download at github and run <code>npm run dev</code>. Also remeber to reinstall node_modules by typeing in <code>npm install</code>. Or <code>npm i</code> ! </b></p>
<h2><b>Tic Tac Toe in React!</b></h2>
<p>The first react game that I have created! Also i styled it like CRAZY!!!</p>
<p><b>Status: In Progress</b></p>
<p><b>In Progress I am too lazy.</b></p>
<h1><button type="submit"></button></h1>

<style>
    
	h1 {
		background-color: blanchedalmond;
		font-size: large;
        font-family: "Fredoka" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	* {
		background-color: blanchedalmond;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>