---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Index from "./index.astro";
import About from "./about.astro";
import github from "./assets/github.jpg"
---

<Layout title="Guides">
<main>
<div>
    <h2><b>- Guides</b></h2>
    <p><b>My Guide To Creating A React App</b></p>
    <p><b>Requirements: Node.js 16 or higher</b></p>
    <p><b>Notes: Create React-App Is Not Mantained Anymore</b></p>
    <p>First open a new powershell window if you are in windows or if you are on linux open the terminal! Also on mac open Iterm, then type in <code>npx create-react-app react-app</code>. Or if you are using yarn use <code>yarn create react-app react-app</code>. Then after it is created type <code>code .</code>, In the directory where your react-app is and yep your done!</p>
    <p><b>My Guide To Creating A Astro App</b></p>
    <p><b>Requirements: Node.js 16 or higher</b></p>
    <p>First open a new powershell window if you are in windows or if you are on linux open the terminal! Also on mac open Iterm, and then type in <code>npm create astro@latest</code>
    or if you are using yarn type in <code>yarn create astro</code> and then in the directory that you created your astro app type in <code>code .</code></p>
    <p> <a href="/redirection"> Click on here to view the offical tutorial by astro! </a></p>
    <h3><i><b>Note: I did not create the astro tutorial. It's their offical tutorial.</b></i></h3>
    <h4>(C) Copyright 2023 Ranuka Dinsitha GitHub All Rights Reserved.</h2>
    <h3><b>By Ranuka</b></h3>
    <p><i><b>Created Using Astro!</b></i></p>
    <title>My Site</title>
    <style>
         * {
            background-color: blanchedalmond;
            font-family: "Fredoka" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
            color: black;
        }
    
        main {
            margin: auto;
            padding: 1.5rem;
            max-width: 60ch;
        }
        h1 {
            font-size: 3rem;
            font-weight: 800;
            margin: 0;
        }
        .text-gradient {
            background-image: var(--accent-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            background-position: 0%;
        }
        .instructions {
            line-height: 1.6;
            margin: 1rem 0;
            border: 1px solid rgba(var(--accent), 25%);
            background-color: white;
            padding: 1rem;
            border-radius: 0.4rem;
        }
        .instructions code {
            font-size: 0.875em;
            font-weight: bold;
            background: rgba(var(--accent), 12%);
            color: rgb(var(--accent));
            border-radius: 4px;
            padding: 0.3em 0.45em;
        }
        .instructions strong {
            color: rgb(var(--accent));
        }
        .link-card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
            gap: 1rem;
            padding: 0;
        } * {
            background-color: blanchedalmond;
            font-family: "Fredoka" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        }
    
        main {
            margin: auto;
            padding: 1.5rem;
            max-width: 60ch;
        }
        h1 {
            font-size: 3rem;
            font-weight: 800;
            margin: 0;
        }
        .text-gradient {
            background-image: var(--accent-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            background-position: 0%;
        }
        .instructions {
            line-height: 1.6;
            margin: 1rem 0;
            border: 1px solid rgba(var(--accent), 25%);
            background-color: white;
            padding: 1rem;
            border-radius: 0.4rem;
        }
        .instructions code {
            font-size: 0.875em;
            font-weight: bold;
            background: rgba(var(--accent), 12%);
            color: rgb(var(--accent));
            border-radius: 4px;
            padding: 0.3em 0.45em;
        }
        .instructions strong {
            color: rgb(var(--accent));
        }
        .link-card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
            gap: 1rem;
            padding: 0;
        }
    </style>
</div>
</main>
</Layout>   