---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Guides from './guides.astro';
import About from './about.astro';
import index from './index.astro'
import github from "./assets/github.jpg"
import { Component } from 'react';
---


<Layout title="Home">
	<main class="Main-Header">
		<div>
		<h1><b>Welcome and Hello!</b></h1>
		<h2>Greetings, I am Ranuka and welcome to my site!</h2>
		<div class="link">
		<p> <a href="/about"> Click on here to learn about me! </a></p>
		<p><a href="/guides"> Click on here to view my guides! </a>
		<p><a href="/apps"> Click on here to view my apps! </a></p>
		</div>
		<h4>(C) Copyright 2023 Ranuka Dinsitha GitHub All Rights Reserved.</h2>
		<p><b></b></p>	
		<h3><b>By Ranuka</b></h3>
		<p><i>Create Using Astro</i></p>
		<p><a href="/follow"> Want to follow me? </a></p>
		<title>My Site</title>
		</div>
	</main>
</Layout>

<style>
    .Main-Header {
		background-color: blanchedalmond;
		font-size: large;
        font-family: "Fredoka" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: black;
		font-weight: 500;
	}
	h1 {
		background-color: blanchedalmond;
		font-size: large;
        font-family: "Fredoka" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: black;
		font-weight: 500;
	}

	* {
		background-color: blanchedalmond;
		font-size: large;
        font-family: "Fredoka" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: black;
		font-weight: 500;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
